* {
  font-family: sans-serif;
}

#wrapper {
  margin: 0px auto;
  width: 50%; 
}

header {
  margin: 10px 0px;
  padding: 5px;
  background-color: black;
  font-size: 75px;
}

header h1 {
  margin: 0px;
  padding: 10px;

  text-align: center;
  font-size: 100%;

  color: white;
}

table {
  width: 100%;
}

table th {
  cursor: pointer;
}

.arrowUp {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;

  display: inline-block;
}

.arrowDown {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid black;

  display: inline-block;
}

@media only screen and (max-width: 600px) {
  header {
    font-size: 25px;
  }

  #events {
    width: 100%;
    display: block;
  }

  #activities {
    width: 100%;
    display: block;
  }

  #name {
    width: 100%;
    display: block;
  }

  #wrapper {
    width: 100%;
  }
}